In [1]:
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.keys import Keys
import pandas as pd
import time

In [2]:
df = pd.read_excel('weather.xlsx')
df

       City  Temperature
0   Bangkok          NaN
1     Paris          NaN
2    London          NaN
3  Helsinki          NaN
4  New York          NaN
5   Chicago          NaN

In [3]:
service = Service(ChromeDriverManager().install())
driver = webdriver.Chrome(service=service)
driver.maximize_window()
url = 'https://www.google.com/'
driver.get(url)

In [4]:
for i in df.index:
    search_field = driver.find_element('xpath', '//*[@id="APjFqb"]')
    search_field.clear()
    search_field.send_keys(df['City'][i] + ' weather')
    search_field.send_keys(Keys.ENTER)

    temperture = driver.find_element('xpath', '//*[@id="wob_tm"]').text
    df.loc[i,'Temperature'] = int(temperture)
    print(df['City'][i] + ' weather:',temperture)
    time.sleep(1)

    driver.back()

Bangkok weather: 31
Paris weather: 22
London weather: 21
Helsinki weather: 14
New York weather: 16
Chicago weather: 19

In [5]:
driver.close()

In [6]:
df

       City  Temperature
0   Bangkok         31.0
1     Paris         22.0
2    London         21.0
3  Helsinki         14.0
4  New York         16.0
5   Chicago         19.0

In [7]:
df.to_excel('weather.xlsx', index=False)