In [24]:
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.keys import Keys
import time
import pandas as pd

In [25]:
df = pd.read_excel('currency.xlsx')
df

  Currency  Value
0      USD    NaN
1      EUR    NaN
2      GBP    NaN
3      JPY    NaN

In [26]:
service =Service(ChromeDriverManager().install())
driver = webdriver.Chrome(service=service)
driver.maximize_window()
url = 'https://www.google.com'
driver.get(url)

#//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]

In [27]:
for i in df.index:
    search_field = driver.find_element('xpath', '//*[@id="APjFqb"]')
    search_field.clear()
    search_field.send_keys(df['Currency'][i] +' to THB')
    search_field.send_keys(Keys.ENTER)

    value= driver.find_element('xpath', '//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').text
    df.loc[i, 'Value'] = float(value)
    print(df['Currency'][i],value)

    driver.back()
driver.close()
df.to_excel('currency.xlsx',index=False)

USD 36.83
EUR 38.91
GBP 44.87
JPY 0.25