In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('homeprice.csv')
df.head(5)

              town  area   price
0  monroe township  2600  550000
1  monroe township  3000  565000
2  monroe township  3200  610000
3  monroe township  3600  680000
4  monroe township  4000  725000

In [3]:
x = df.drop('price', axis=1)
x

               town  area
0   monroe township  2600
1   monroe township  3000
2   monroe township  3200
3   monroe township  3600
4   monroe township  4000
5      west windsor  2600
6      west windsor  2800
7      west windsor  3300
8      west windsor  3600
9       robinsville  2600
10      robinsville  2900
11      robinsville  3100
12      robinsville  3600

In [4]:
y = df['price']
y

0     550000
1     565000
2     610000
3     680000
4     725000
5     585000
6     615000
7     650000
8     710000
9     575000
10    600000
11    620000
12    695000
Name: price, dtype: int64

In [5]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(x,y)

ValueError: could not convert string to float: 'monroe township'